body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  color: #222;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /*background-color: #fff;*/
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.card_comment {
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  margin-top: 2px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  color: #222;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /*background-color: #fff;*/
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.card_post {
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  color: #222;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /*background-color: #fff;*/
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.date {
  font-size: 10px;
}

.App {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px 16px 16px;
  /* background-color: #fff; */
}

body {
  background-color: #eee;
  
}


.h2a {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: visible;
}

.h2b {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
}